.footer{
    position: relative;
    margin-top: 300px;
    width: 100%;
    min-height: 300px;
    background-color:#3586ff;
    /* background-image: url('wave.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    align-items: center;
    flex-wrap: wrap;
}

.footer .footer-icons li{
     cursor: pointer;
     list-style: none;
}

.footer .footer-icons li a{
    padding: 2px 12px;
    font-size: 40px;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s;
    box-shadow: 0 0 0 4px rgba(255,255,255,1);
    /* border: 2px solid white */
    border-radius:50% ;
	transition: all 0.2s, color 0.2s;	
}

.footer .footer-icons li a i:hover{
    animation: spinRound 1s linear infinite;
    color: aqua;
}
.footer .footer-icons li a:hover{
    background-color: white;
}

@keyframes spinRound{
    from{
        transform:rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}


.footer .wave{
    left: 0;
    width: 100%;
    position: absolute;
    top: -80px;
    background-image: url(wave.png);
    /* background-color: red; */
    height: 80px;
    background-size: 1000px 100px;
}
.footer .wave#wave-1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

@keyframes animateWave{
    0%{
        background-position-x: 1000px ;
    }

    100%{
        background-position-x: 0px;
    }
}

.footer .wave#wave-2{
    z-index: 999;
    opacity: 0.5;
    bottom: 0px;
    animation: animateWave02 4s linear infinite;
}

@keyframes animateWave02{
    0%{
        background-position-x: 0px ;
    }

    100%{
        background-position-x: 1000px;
    }
}

.footer .wave#wave-3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave03 2s linear infinite;
}

@keyframes animateWave03{
    0%{
        background-position-x: -100px ;
    }

    100%{
        background-position-x: 1000px;
    }
}

.footer .wave#wave-4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave04 3s linear infinite;
}

@keyframes animateWave04{
    0%{
        background-position-x: 0px ;
    }

    100%{
        background-position-x: 1000px;
    }
}

